body {
  background-color: #282c34;
  color: #fff;
}

/* Navbar Styling */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
  width: 100%;
}

#navbar a {
  color: #fff;
  text-decoration: none;
}

#navbar .logo {
  float: left;
  padding-left: 20px;
  background-image: linear-gradient(to left, blue, green, yellow, orange, red, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

/* a by default is what we call an inline element. You can't really change
the margin or padding of inline elements directly, so we change a to a block type element instead */
#navbar ul li a {
  display: block;
  text-align: center;
  padding: 1pc 5pc;
}

#navbar ul li a:hover{
  background: #444;
  color:rgb(42, 216, 42);
}

#withward-logo {
  width: 10%;
  height: 10%;
}

/* Button Styling */
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background:#333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
}

.btn:hover{
  background: #444;
  color:rgb(42, 216, 42);
  outline:outset;
}

/* Primary App Page Styling */
#mainDiv {
  background: url('./Resources/Images/forest_gate_background.png') no-repeat center center;
  background-size: 100%;
  min-height:80%;
  height: 700px;
}

/* General Menu Render */
#generic-menu {
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 25%;
  margin-top: 3%;
  margin-left: 10%;
  padding: 50px;
  border-radius: 20px;
}

/* Rainbow Header */
#generic-menu h1 {
  background-image: linear-gradient(to left, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

/* General Table Render */
#generic-table {
  text-align: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 25%;
  margin-top: 3%;
  margin-left: 10%;
  padding: 50px;
  border-radius: 20px;
}

#generic-table tr {
  outline-style: outset;
}

#generic-table th, td {
  padding-left: 1em;
  padding-right:1em;
  outline-style: outset;
}
/* Rainbow Table Header */
#generic-menu h1 {
  background-image: linear-gradient(to left, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

.error-mesage {
  color: red;
}
